/* The color palette URL: https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc */

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primarly-color: #3c8abd;
  --secondary-color: #000000;
  --accent1-color: #44af81;
  --accent2-color: #80ed99;
  --contrast-color: #c7f9cc;
  --headding-font: "Ancizar Serif", serif;
  --body-font: "Raleway", sans-serif;
}

  /* set color to header */
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 100px 1fr;
  justify-content: space-between;
  background-color: var(--primarly-color);
}

header nav {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center;
}

header a {
  color: #fff;
}

nav ul{
  font-weight: bold;
  gap: 10rem;
}

nav ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff;
}

header img {
	margin: 0 0 0 5rem;
	width: 64px;
	height: auto;
}
  /* Apply to all items */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* set a color to the tittle */
.title {
  color: #fff;
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
}

header,
main,
footer {
  margin: auto;
}

h1,
h2 {
  font-family: var(--headding-font);
  color: var(--primarly-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 16px;
  border-radius: 8px;
}
/*Create a box shadow */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content:space-around;
}

/* Adventure Gallery */
section {
  padding: 1.5rem;
  background-color: #fff;
  text-align: center;
}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

section img {
  width: 255px;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background-color: var(--primarly-color);
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  flex: 1;
  text-align: center;
  margin: 0.5rem 0;
  color: #fff;
}

footer .socialmedia {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
}

