/* The color palette URL: https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc */

@import url('https://fonts.gstatic.com');

:root {
  --primarly-color: #3c8abd;
  --secondary-color: #000000;
  --accent1-color: #44af81;
  --accent2-color: #80ed99;
  --contrast-color: #c7f9cc;
  --headding-font: "Ancizar Serif", serif;
  --body-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  margin: auto;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: space-between;
  background-color: var(--primarly-color);
}

.logo img {
  margin: 0 0 0 5rem;
	width: 64px;
	height: auto;
}

nav ul {
  padding: 25px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--body-font);
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
}

h1,
h2 {
  font-family: var(--headding-font);
  color: var(--primarly-color);
}


p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
article h2 {
  color: #fff;
}

.hero h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  font-size: 3.5rem;
  padding: 20px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 16px;
  border-radius: 8px;
}
/*Create a box shadow */
.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content:space-around;
}

/* Adventure Gallery */
section {
  padding: 1.5rem;
  background-color: #fff;
  text-align: center;
}

section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

footer {
  color: #ffffff;
  font-family: var(--body-font);
  background-color: var(--primarly-color);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  color: #fff;
}
footer p {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
}

footer .socialmedia {
  display: flex;
  gap: 0.3rem;
}

section .images-container{
  display: flex;
  justify-content: space-around;
}

.images-container h3{
  color: #000000;
  font-size: 15px;
  line-height: 1.5;
  width: 150px;
  max-width: 220px;
  margin: auto;
  padding: 10px;
}